/* Small devices (portrait tablets and large phones, 600px and up)*/ 
@media only screen and (min-width: 600px){
  a {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #000000;
  }
  
  body {
    margin: 0;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
  }
  
  h1 {
    margin-left: 25px;
    margin-top:25px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    line-height: normal;
  }
  
  h2 {
    color: #000000;
    margin-top: 25px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    background-color: #FFFFFF;
  }
  
  p{
    margin-left: 25px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
  }
  
  .icon {
    margin-left: 25px;
    margin-top: 25px;
    width: 500px;
  }
  .slide {
    width: 100vw;
    height: 100%;
    border: 0.1px solid #FFFFFF;
    padding: 15px;
  }

  .profile {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 250px;
  }
  
  .header-sc {
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 10px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
  }
  .works-sc {
    margin: 10px;
    background-color: #000000;
    width: auto;
  }
  .text-sc {
    margin-top: 10px;
    color: #FFFFFF;
    font-family: Barlow;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: normal;
  }
  
  .header-works {
    color: #000000;
    margin-top: 25px;
    margin-left: 10px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
  }
  .works-done {
    margin: 10px;
    background-color: #FFFFFF;
    width: auto;
  }
  
  .text-works {
    margin-top: 10px;
    color: #00000;
    font-family: Barlow;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: normal;
  }
  
  .a-text {
    font-family: Barlow;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: normal;
    color: #000000;
  }
  .a-text-sc {
    font-family: Barlow;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: normal;
    color: #FFFFFF;
  }

  
  .row {
    display: flex;
    flex-wrap: no-wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    width: 50vw;
    padding: 0 5px;
    margin: 2.5px;
  }
  
  .column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
  }
  .backbutton{
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #000000;
    margin:25px;
    justify-content: end;
  }
}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px){
a {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: #000000;
}

body {
  margin: 0;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
}

h1 {
  margin-left: 25px;
  margin-top:25px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  line-height: normal;
}

h2 {
  color: #000000;
  margin-top: 25px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background-color: #FFFFFF;
}

p{
  margin-left: 25px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.icon {
  margin-left: 25px;
  margin-top: 25px;
  width: 500px;
}
.slide {
  width: 100vw;
  height: 100vh;
  border: 0.1px solid #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.profile {
  background-color: #FFFFFF;
  width: 30vw;
  min-width: 250px;
}

.header-sc {
  color: #FFFFFF;
  margin-top: 25px;
  margin-left: 10px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.works-sc {
  margin: 10px;
  background-color: #000000;
  width: 75vw;
}
.text-sc {
  margin-top: 10px;
  color: #FFFFFF;
  font-family: Barlow;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: normal;
}

.header-works {
  color: #000000;
  margin-top: 25px;
  margin-left: 10px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.works-done {
  margin: 10px;
  background-color: #FFFFFF;
  width: auto;
}

.text-works {
  margin-top: 10px;
  color: #00000;
  font-family: Barlow;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: normal;
}

.a-text {
  font-family: Barlow;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: normal;
  color: #000000;
}
.a-text-sc {
  font-family: Barlow;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: normal;
  color: #FFFFFF;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
}

/*::-webkit-scrollbar {
  display: none;
}*/

.row {
  display: flex;
  flex-wrap: no-wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other*/
.column {
  width: 10vw;
  padding: 0 5px;
  margin: 2.5px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}
.backbutton{
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: #000000;
  margin:25px;
  justify-content: end;
}
/*scrollbar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
	background-color: #FFFFFF;
}
::-webkit-scrollbar
{
	width: 5px;
	background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb
{
	background-color: #252525;
}

}