a {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  color: #000000;
}

body {
  margin: 0;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

h1 {
  margin-left: 25px;
  margin-top:25px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  line-height: normal;
}

h2 {
  color: #000000;
  margin-top: 25px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

p{
  margin-left: 25px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.icon {
  margin-left: 25px;
  margin-top: 25px;
  width: 500px;
}
.slide {
  width: 100vw;
  height: 100vh;
  border: 0.1px solid #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.profile {
  background-color: #FFFFFF;
  width: 30vw;
  min-width: 250px;
}
.works-wip {
  margin: 10px;
  background-color: #000000;
  width: 75vw;
}

.works-done {
  margin: 10px;
  background-color: #FFFFFF;
  width: auto;
}

.text-works {
  margin-top: 10px;
  color: #000000;
  font-family: Barlow;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: normal;
}


.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}

.row {
  display: flex;
  flex-wrap: no-wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  width: 10vw;
  padding: 0 5px;
  margin: 2.5px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}
